* {
    overflow: 0;
    margin: 0;
    padding: 0;
}

/* slider */

/* tulisan slider */
.carousel-item {
    height: 32rem;
    color: black;
}

.tulisan-slider {
    top: 350px;
}

.carousel-item {
    color: black;
    display: none;
    /* Sembunyikan semua konten tulisan-slider */
}

.carousel-item.active {
    display: block;
    /* Tampilkan konten tulisan-slider yang sesuai dengan gambar aktif */
}


.ketslider {
    /* border: 1px solid red; */
    background-color: rgba(0, 0, 0, 0.425);
    margin-top: 8%;
}

.ketslider h1 {
    color: wheat;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Lilita One', cursive;
    font-size: 70px;
}

/* akhir tulisan slider */
.carousel {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 0;
    border: 0px;
    /* position: relative; */
    /* border: 1px solid red; */
}

.carousel img {
    border: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    filter: brightness(40%);
    transition: opacity 1s ease;
    object-fit: cover;
    left: 0;
    bottom: 1px;
}

.carousel img.active {
    opacity: 1;
}

.carousel-indicators {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.carousel-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators span.active {
    background-color: black;
}

/* akhir slider */



/* highlight */
.highlight {
    padding-top: 80px;
}

.isi h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
}

.isi p {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 500;
}

.highlight-tengah {
    display: flex;
    align-items: center;
}

.logospan {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 20px; */
    right: 2%;
}

.logo-lingkaran {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box span {
    display: flex;
    border-radius: 30px;
    /* background-color: red; */
}

.content {
    padding-top: 40px;
}


.box {
    opacity: 80%;
    /* border: 1px solid blue; */
    position: absolute;
    z-index: -999;
    justify-content: center;
    align-items: center;
    animation: animasi;
    animation-play-state: running;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.box img {
    width: 435px;
    height: 355px;
}


.gmbr-logo {
    position: absolute;
}

.lingkaran {
    width: 300px;
    height: 295px;
    border: 15px solid rgb(238, 238, 215);
    border-radius: 100%;
    position: relative;
    top: 7px;
    z-index: -1;
}

@keyframes animasi {
    65% {
        transform: rotate(-10deg);
    }
}

/* akhir highlight */


/* shortcut */
.shortcut {
    margin-top: 10%;
}

.shortcut1 {
    gap: 0px;
}

.kartu-shortcut {
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(237, 171, 27, 1) 28%, rgba(234, 169, 42, 1) 55%, rgba(232, 152, 46, 1) 97%);
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.384);
}

.kartu-shortcut i {
    padding-top: 15px;
}

.icon-shortcut {
    font-size: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 999;
}

.card-body h5 {
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    color: black;
}

.card-body a {
    color: black;
    background-color: rgb(148, 101, 30);
}



.kartu-shortcut1 {
    margin-top: 10px;
    align-items: center;
    font-family: 'Bree Serif', serif;
}


.btn-hover:hover {
    background-color: rgb(233, 215, 137);
    color: rgb(255, 255, 255);
    transition: all 0.3s linear;
}

.kartu-shortcut i {
    color: rgba(0, 0, 0, 0.486)
}

.link-shortcut a {
    background-color: rgb(148, 101, 30);
    border: none;
    cursor: pointer;
}

.tilt-box-wrap {
    /* width: 400px;
  height: 400px; */
    /* position: relative; */
    transition: all 0.6s ease-out;
    perspective: 500px
}

.tilt-box-wrap:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
}

.tilt-box {
    transition: all 0.6s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
}

.tilt-box strong {
    transform: translateZ(40px);
}

/* akhir shortcut */

/* kepengurusan */

.kepengurusan-wrap {
    margin-top: 80px;
    background: radial-gradient(circle, rgba(237, 171, 27, 1) 28%, rgba(234, 169, 42, 1) 55%, rgba(232, 152, 46, 1) 97%);
    position: relative;
}

.kepengurusan h1 {
    font-family: 'Patua One', cursive;
    padding-top: 10px;
    color: black;
}

.slider-card h6 {
    font-family: 'Dai Banna SIL', serif;
}

.slider-card p {
    font-family: 'Quicksand', sans-serif;
}

/* akhir kepengurusan */

/* berita */
.semua_berita {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.semua_berita:hover {
    color: rgb(119, 79, 5);
}

.berita_terkini {
    display: flex;
    align-items: center;
    padding: 0;

}

.berita_terkini h1 {
    padding-right: 10px;
    font-family: 'Patua One', cursive;
}

.border_berita {
    display: block;
    width: 73%;
    height: 4px;
    background-color: black;
}


.berita {
    padding-top: 20px;
}

.kotak-berita {
    justify-content: center;
    align-items: center;
    display: flex;
}

.link-berita a {
    background-color: rgb(226, 114, 22);
    font-weight: 600;
    color: black;
    border: none;
    cursor: pointer;
}

.link-berita a:hover {
    background-color: rgb(116, 72, 6);
    color: rgb(241, 241, 241);
    transition: all 0.5s ease-in;
}



.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Jumlah baris yang ingin ditampilkan (dalam hal ini, 3 baris) */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Menambahkan elipsis di akhir teks yang terpotong */
    text-align: justify;
}


.img-hover-zoom {
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.15);
}



/* akhir berita */



/* responsive */
@media screen and (max-width: 991px) {

    /* carousel */
    .carousel {
        padding-top: 0;
    }

    .carousel img {
        height: 400px;
        margin-top: 0;
        top: 0;
        /* Mengatur posisi gambar di bawah pada ukuran layar kecil */
    }

    .carousel {
        height: 400px;
        position: relative;
    }

    .ketslider h1 {
        font-size: 40px;
    }

    .tulisan-slider {
        top: 300px;
    }

    /* akhir carousel */

    /* highlight */
    .logospan {
        top: 50px;
    }

    .highlight {
        padding-top: 20px;
    }

    /* akhor highlight */
    /* shortcut */
    .shortcut1 {
        gap: 20px;
    }

    .shortcut {
        margin-top: 15%;
    }

    /* akhir shortcut */

    .berita {
        gap: 20px;
    }

    .berita_terkini h1 {
        font-size: 30px;
    }

    .border_berita {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {

    /* carousel */
    .carousel {
        height: 300px;
        /* width: 103.5%;
    left: -13px;
    position: relative; */
    }

    .carousel img {
        width: 103.5%;
        height: 300px;
    }

    .tulisan-slider {
        top: 230px;
    }

    .ketslider h1 {
        font-size: 20px;
    }

    /* akhir carousel */

    /* highlight */
    .isi h1 {
        font-size: 36px;
    }

    .isi p {
        text-align: justify;
    }

    .logo-lingkaran img {
        width: 180px;
    }

    .box img {
        width: 320px;
        height: 210px;
    }

    .lingkaran {
        width: 210px;
        height: 213px;
    }

    .logospan {
        top: 3px;
    }

    .content {
        padding-top: 30px;
    }

    .logospan {
        right: 0;
    }

    /* akhir highlight */

    /* shortcut */
    .shortcut1 {
        gap: 20px;
    }

    .shortcut {
        margin-top: 12%;
    }

    /* akhir shortcut */

    /* berita */
    .berita {
        align-items: center;
        justify-content: center;
    }

    .berita_terkini h1 {
        font-size: 20px;
        width: 140px;
    }

    .border_berita {
        width: 70%;
        padding-right: 0;
        margin-right: 0;
    }

}

@media screen and (max-width: 344px) {
    .logo-lingkaran img {
        width: 130px;
    }

    .box img {
        width: 250px;
        height: 100px;
    }

    .lingkaran {
        width: 130px;
        height: 130px;
    }

    /* berita */
    .berita_terkini h1 {
        font-size: 20px;
        width: 145px;
    }

    .border_berita {
        width: 50%;
        padding-right: 0;
        margin-right: 0;
    }
}
